<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INdex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src = "/app.js"></script>


<body  ng-app="app">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/adminView">Administration Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminView">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminView/expertise">Expertises</a>
            </li>
        </ul>
    </div>
</nav>
<div ng-controller="ExpertiseCRUDCtrl" ng-app="app" class="container">


    <form><br>
        <!--  <div class="form-group">
              <label for="inputName">Id</label>
              <input type="text" class="form-control" id="inputId"  placeholder="Enter id" ng-model="employee.id_e">
          </div> -->
        <div class="form-group">
            <label for="expertiseType">Expertise Type</label>
            <input type="text" class="form-control" id="expertiseType"  placeholder="Enter expertise type" ng-model="expertise.expertise_type">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="addExpertise(expertise.expertise_type);getAllExpertises()">Add Expertise</button>
    </form>
    <p style="color:green">{{message}}</p>
    <p style="color:red">{{errorMessage}}</p>
    <h4>Expertises List</h4>
    <a ng-init="getAllExpertises()"></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Expertise Type</td>
            <td>Action Commands</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="expertiseLoop in expertises">
            <td>
                {{getExpertiseId(expertiseLoop._links.self.href)}}
            </td>
            <td>
                {{expertiseLoop.expertise_type}}
            </td>
            <td>
                <button class="btn btn-danger btn-sm" ng-click="deleteExpertise(getExpertiseId(expertiseLoop._links.self.href));deleteRow($index)">Delete</button>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>