<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INdex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src = "app.js"></script>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
  <div ng-controller="EmployeeCRUDCtrl">
        <table>
            <tr>
                <td width="100">ID:</td>
                <td><input type="text" id="id_employee" ng-model="employee.id_employee" /></td>
            </tr>
            <tr>
                <td width="100">Name:</td>
                <td><input type="text" id="name" ng-model="employee.name" /></td>
            </tr>
            <tr>
                <td width="100">Surname:</td>
                <td><input type="text" id="surname" ng-model="employee.surname" /></td>
            </tr>
            <tr>
                <td width="100">Email:</td>
                <td><input type="text" id="email" ng-model="employee.email"/></td>
            </tr>
            <tr>
                <td width="100">Manager status:</td>
                <td><input type="text" id="manager_status" ng-model="employee.manager_status"/></td>
            </tr>
        </table>
        <a ng-click="getEmployee(employee.id_employee)">Get Employee</a>
        <a ng-click="updateEmployee(employee.id_employee,employee.name,employee.email,employee.manager_status)">Update Employee</a>
        <a ng-click="addEmployee(employee.name,employee.surname,employee.email,employee.manager_status)">Add Employee</a>
        <a ng-click="deleteEmployee(employee.id_employee)">Delete Employee</a>
        <a ng-click="getAllEmployee()">Get all Employees</a><br/><br/>
        <p style="color:green">{{message}}</p>
        <p style="color:red">{{errorMessage}}</p>
        <br/><br/>
        <div ng-repeat="employee in employees">
            {{employee.name}} {{employee.surname}}
        </div>
    </div>
    <div ng-controller="ExpertiseCRUDCtrl">
        <table>
            <tr>
                <td width="100">ID:</td>
                <td><input type="text" id="id_expertise" ng-model="expertise.id_expertise"/></td>
            </tr>
            <tr>
                <td width="100">Name:</td>
                <td><input type="text" id="expertise_type" ng-model="expertise.expertise_type"/></td>
            </tr>
        </table>
        <a ng-click="getExpertise(expertise.id_expertise)">Get Expertise</a>
        <a ng-click="updateExpertise(expertise.id_expertise,expertise.expertise_type)">Update Expertise</a>
        <a ng-click="addExpertise(expertise.expertise_type)">Add Expertise</a>
        <a ng-click="deleteExpertise(expertise.id_expertise)">Delete Expertise</a>
        <a ng-click="getAllExpertises()">Get All Expertise</a>
        <p style="color:green">{{message}}</p>
        <p style="color:red">{{errorMessage}}</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>