<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />

    <style>
        #calendar {
            max-width: 900px;
            margin: 40px auto;
        }
    </style>
    <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <link href="jquery.datetimepicker.min.css" rel="stylesheet">


    <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="jquery.datetimepicker.full.min.js"></script>
    <script th:inline="javascript">
        var idEmployee = /*[[${msg}]]*/ 'default'
        window.onload= function(){
            jQuery.datetimepicker.setLocale('en');
            $('.datetimepicker').datetimepicker({
                datepicker:false,
                format: 'H:i'
            });
        }
        /*<![CDATA[*/

        /*]]>*/
    </script>
    <script>
        var date_day;
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                defaultView: 'dayGridMonth',
                defaultDate: '2019-08-07',
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth'
                },
                select:  function(info) {
                    $(document).ready(function(){
                        $("#starterModal").modal();
                    })
                    document.getElementById("inputOvertimeDate").innerHTML = info.startStr;
                    //document.getElementById("inputOvertimeDate2").value = info.startStr;
                    date_day = info.startStr;
                    //document.getElementById("inputUserId").value = idEmployee;

                },
            });
            calendar.render();
        });

        function javaScriptCallAddOvertime(day,id){
            var start = document.getElementById("datetimepicker1").value;
            var end = document.getElementById("datetimepicker2").value;
            var scope = angular.element(document.getElementById("addOvertimeModal")).scope();
            scope.addOvertime(day,start,end,id);
        }
    </script>
    <script src="app.js"></script>
</head>
<body>
<div id="calendar"></div>

<div class="modal" id="starterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                        <h4 class="modal-title">Choose option</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modalBodyToChange">
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addOvertimeModal" >Add Overtime</button>
                        <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addUseOvertimeModal">Use Overtime</button>
                        <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addHoliday">Ask for Holiday</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="addOvertimeModal" ng-controller="OvertimeCRUDCtrl" ng-app="app">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Overtime</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <p>Picked Date: <div id="inputOvertimeDate"></div></p>
                        <form>

                            <div class="form-group">
                                <label for="datetimepicker1">Overtime starting hour</label>
                                <input id="datetimepicker1"  class="form-control datetimepicker" type="text" placeholder="Enter overtime starting hour" ng-model="overtime.date_start"/>
                            </div>
                            <div class="form-group">
                                <label for="datetimepicker2">Overtime ending hour</label>
                                <input id="datetimepicker2"  class="form-control datetimepicker" type="text" placeholder="Enter overtime ending hour" ng-model="overtime.date_end"/>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="javaScriptCallAddOvertime(date_day,idEmployee)">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#starterModal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addUseOvertimeModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Overtime</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <p>Available hours: <p id="availableHours"></p></p>
                        <form>
                            <div class="form-group">
                                <label for="inputUseOvertimeDate"></label>
                                <input type="text" class="form-control" id="inputUseOvertimeDate"  placeholder="Enter overtime date">
                            </div>
                            <div class="form-group">
                                <label for="inputUseOvertimeStart"></label>
                                <input type="text" class="form-control" id="inputUseOvertimeStart"  placeholder="Enter overtime starting hour">
                            </div>
                            <div class="form-group">
                                <label for="inputUseOvertimeEnd"></label>
                                <input type="text" class="form-control" id="inputUseOvertimeEnd"  placeholder="Enter overtime ending hour">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#starterModal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addHoliday">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ask for Holiday</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <form>
                            <div class="form-group">
                                <label for="inputHolidayStart"></label>
                                <input type="text" class="form-control" id="inputHolidayStart"  placeholder="Enter holiday starting date">
                            </div>
                            <div class="form-group">
                                <label for="inputHolidayEnd"></label>
                                <input type="text" class="form-control" id="inputHolidayEnd"  placeholder="Enter holiday ending date">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#starterModal">Back</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>